# Copyright 2019 ProximaX Limited. All rights reserved.
# Use of this source code is governed by the Apache 2.0
# license that can be found in the LICENSE file.

language: java

jdk:
- oraclejdk8

after_success:
- ./gradlew clean test jacocoTestReport coveralls